{% load cf_ui %}
<div
  class="form-control {{ class }}"
  {% cf_ui_render_attrs "checkbox-group" attrs %}
>
  <label class="label"><span class="label-text">{{ label }}</span></label>
  <div
    class="flex flex-wrap gap-4{% if control_class %} {{ control_class }}{% endif %}"
  >
    {% for choice in choices %}
      <label class="label cursor-pointer gap-2">
        <input
          type="checkbox"
          class="checkbox"
          name="{{ name }}"
          value="{{ choice.value }}"
          {% if choice.value in selected %}checked{% endif %}
        >
        <span class="label-text">{{ choice.label }}</span>
      </label>
    {% endfor %}
  </div>
  {% if error %}<span class="label-text-alt text-error">{{ error }}</span>{% endif %}
</div>
