<div
  class="{{ class }}"
  x-data="cfTabs"
  x-init="initTabs()"
  data-cf-active="{{ active }}"
>
  <div
    role="tablist"
    class="tabs tabs-bordered"
    @keydown="onKeydown($event)"
  >
    {% for tab in tabs %}
      <a
        role="tab"
        data-cf-tab="{{ tab.id }}"
        class="tab {% if tab.id == active %}tab-active{% endif %}"
        aria-controls="{{ hx_target }}"
        aria-selected="{% if tab.id == active %}true{% else %}false{% endif %}"
        tabindex="{% if tab.id == active or not active and forloop.first %}0{% else %}-1{% endif %}"
        :class="{ 'tab-active': active === $el.dataset.cfTab }"
        :aria-selected="active === $el.dataset.cfTab"
        :tabindex="tabIndexFor($el.dataset.cfTab)"
        @click.prevent="setActive($el.dataset.cfTab)"
        hx-get="{{ tab.url }}"
        hx-target="#{{ hx_target }}"
      >{{ tab.id }}</a>
    {% endfor %}
  </div>
  <div id="{{ hx_target }}" role="tabpanel">{{ slot }}</div>
</div>
