{#def content="", size="normal", for_id="", required=false, extra_class="" #}
{% autoescape true %}
  {% set content = content if content is defined else "" %}
  {% set size = size if size is defined else "normal" %}
  {% set for_id = for_id if for_id is defined else "" %}
  {% set required = required if required is defined else false %}
  {% set extra_class = extra_class if extra_class is defined else "" %}
  {{ cf_ui_validate("label", size=size) }}
  <label
    class="form-label{% if size == 'small' %} small{% elif size == 'large' %} fs-5{% endif %}{% if extra_class %} {{ extra_class }}{% endif %}"
    {% if for_id %} for="{{ for_id }}"{% endif %}
  >{{ content }}{% if required %} <span class="text-danger" role="img" aria-label="required">*</span>{% endif %}</label>
{% endautoescape %}
