{#def name, label, value="", error="", options=[], extra_class="", input_class="", attrs={} #}
{% autoescape true %}
  {% set value = value if value is defined else "" %}
  {% set error = error if error is defined else "" %}
  {% set options = options if options is defined else [] %}
  {% set extra_class = extra_class if extra_class is defined else "" %}
  {% set input_class = input_class if input_class is defined else "" %}
  {% set attrs = attrs if attrs is defined else {} %}
  <div class="mb-3 {{ extra_class }}">
    <label class="form-label" for="{{ name }}">{{ label }}</label>
    <select
      class="form-select{% if error %} is-invalid{% endif %}{% if input_class %} {{ input_class }}{% endif %}"
      id="{{ name }}"
      name="{{ name }}"
      {{- cf_ui_render_attrs("select", attrs) }}
    >
      {% for opt in options %}
        <option
          value="{{ opt.value }}"
          {% if opt.value|string == value|string %} selected{% endif %}
        >{{ opt.label }}</option>
      {% endfor %}
    </select>
    {% if error %}<div class="invalid-feedback d-block">{{ error }}</div>{% endif %}
  </div>
{% endautoescape %}
