{#def tabs=[], hx_target="tab-content", content="", extra_class="" #}
{% set tabs = tabs if tabs is defined else [] %}
{% set content = content if content is defined else "" %}
{% set hx_target = hx_target if hx_target is defined else "tab-content" %}
{% set extra_class = extra_class if extra_class is defined else "" %}
<div class="{{ extra_class }}" x-data="cfTabs">
  <div role="tablist" class="tabs tabs-bordered">
    {% for tab in tabs %}
    <a role="tab"
       class="tab"
       :class="{ 'tab-active': active === '{{ tab.id }}' }"
       @click.prevent="setActive('{{ tab.id }}')"
       hx-get="{{ tab.url }}"
       hx-target="#{{ hx_target }}">{{ tab.id }}</a>
    {% endfor %}
  </div>
  <div id="{{ hx_target }}">{{ content }}</div>
</div>
