{#def tabs=[], hx_target="tab-content", active="", content="", extra_class="" #}
{% autoescape true %}
  {% set tabs = tabs if tabs is defined else [] %}
  {% set content = content if content is defined else "" %}
  {% set active = active if active is defined else "" %}
  {% set hx_target = hx_target if hx_target is defined else "tab-content" %}
  {% set extra_class = extra_class if extra_class is defined else "" %}
  <div
    class="{{ extra_class }}"
    x-data="cfTabs"
    x-init="initTabs()"
    data-cf-active="{{ active }}"
  >
    <div
      role="tablist"
      class="tabs tabs-bordered"
      @keydown="onKeydown($event)"
    >
      {% for tab in tabs %}
        <a
          role="tab"
          data-cf-tab="{{ tab.id }}"
          class="tab {% if tab.id == active %}tab-active{% endif %}"
          aria-controls="{{ hx_target }}"
          aria-selected="{% if tab.id == active %}true{% else %}false{% endif %}"
          tabindex="{% if tab.id == active or (not active and loop.first) %}0{% else %}-1{% endif %}"
          :class="{ 'tab-active': active === $el.dataset.cfTab }"
          :aria-selected="active === $el.dataset.cfTab"
          :tabindex="tabIndexFor($el.dataset.cfTab)"
          @click.prevent="setActive($el.dataset.cfTab)"
          hx-get="{{ tab.url }}"
          hx-target="#{{ hx_target }}"
        >{{ tab.id }}</a>
      {% endfor %}
    </div>
    <div id="{{ hx_target }}" role="tabpanel">{{ content }}</div>
  </div>
{% endautoescape %}
