<c-vars page="1" total_pages="1" hx_target="" hx_url="" class="" />
{% load cf_ui %}
<nav class="pagination is-centered {{ class }}" role="navigation" aria-label="pagination">
  {% if page|add:"0" > 1 %}
  <a class="pagination-previous"
     hx-get="{{ hx_url }}?page={{ page|add:"-1" }}"
     hx-target="{{ hx_target }}">Previous</a>
  {% else %}
  <a class="pagination-previous" disabled>Previous</a>
  {% endif %}
  {% if page|add:"0" < total_pages|add:"0" %}
  <a class="pagination-next"
     hx-get="{{ hx_url }}?page={{ page|add:"1" }}"
     hx-target="{{ hx_target }}">Next</a>
  {% else %}
  <a class="pagination-next" disabled>Next</a>
  {% endif %}
  <ul class="pagination-list">
    {% for p in total_pages|make_list_1_to_n %}
    <li>
      <a class="pagination-link{% if p == page|add:'0' %} is-current{% endif %}"
         {% if p != page|add:"0" %}
         hx-get="{{ hx_url }}?page={{ p }}"
         hx-target="{{ hx_target }}"
         {% endif %}
         aria-label="Page {{ p }}"
         {% if p == page|add:"0" %}aria-current="page"{% endif %}>{{ p }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
